<footer>
  <div class="container">
    <div class="footer-links">
      <a href="mailto:Dong48@illinois.edu">Email</a>
      <a href="https://github.com/dongjiacheng06" target="_blank">GitHub</a>
      <a href="https://dongjiacheng06.github.io/dongjiacheng06-blog/">Blog</a>
      <a href="https://cvnext.github.io/" target="_blank">CVNext Lab</a>
    </div>
    <div>&copy; 2025 Jiacheng Dong. All rights reserved.</div>
    <div style="margin-top:0.5rem; font-size:0.9rem; opacity:0.8;">
      Personal Website: <a href="https://dongjiacheng06.github.io" target="_blank" style="color:#fff;">dongjiacheng06.github.io</a>
    </div>
  </div>
</footer>