# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/
Gemfile.lock

# Local
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp

!MeMix/static/js/vendor/
!MeMix/static/js/vendor/**
