<h2 id="my-friends" style="margin: 2px 0px -15px;">My Friends</h2>

<div class="publications section-list" style="margin-bottom: 0.35rem;">
<ol class="bibliography" style="margin-bottom: 0;">

<li class="card-item">
  <div class="pub-row">
    <div class="col-sm-12" style="position: relative; padding-right: 15px; padding-left: 15px;">
      <div class="title">Jiayi Zhang</div>
      <div class="author">Mathematics Undergrad Student, University of Nottingham Ningbo China</div>
      <div class="periodical">He is passionate about Robotics, foundation models to address long-horizon tasks and VLA.</div>
      <div class="links">
        <a href="https://zhangjiayi24.github.io/" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener" style="font-size:12px;">Homepage</a>
      </div>
    </div>
  </div>
</li>

</ol>
</div>
