<h2 id="selected-awards" style="margin: 2px 0px -15px;">Selected Awards</h2>

<div class="publications section-list">
<ol class="bibliography">

<li class="card-item">
  <div class="pub-row">
    <div class="col-sm-12" style="position: relative; padding-right: 15px; padding-left: 15px;">
      <div class="periodical"><em>2025</em></div>
      <div class="title">National Scholarship</div>
      <div class="author">Highest honor for undergraduates</div>
    </div>
  </div>
</li>
<br>

<li class="card-item">
  <div class="pub-row">
    <div class="col-sm-12" style="position: relative; padding-right: 15px; padding-left: 15px;">
      <div class="periodical"><em>2025</em></div>
      <div class="title">Outstanding Winner (Top 0.11%) &amp; SIAM Award (Problem B Winner)</div>
      <div class="author">MCM 2025</div>
    </div>
  </div>
</li>
<br>

</ol>
</div>
