<h2 id="selected-awards" style="margin: 2px 0px 0;">Selected Awards</h2>

<ul style="margin: 1.4rem 0 5px;">
  <li><strong>[May 2026]</strong> <a><autocolor>Gold Award, Zhejiang Provincial &ldquo;Challenge Cup&rdquo; College Students Entrepreneurship Plan Competition</autocolor></a><strong> <i style="color:#e74d3c">Provincial top honor</i></strong></li>
  <li><strong>[Oct 2025]</strong> <a><autocolor>National Scholarship</autocolor></a><strong> <i style="color:#e74d3c">Highest honor for undergraduates</i></strong></li>
  <li><strong>[Feb 2025]</strong> <a><autocolor>Outstanding Winner (Top 0.11%) &amp; SIAM Award (Problem B Winner)</autocolor></a><strong> <i style="color:#e74d3c">MCM 2025</i></strong></li>
</ul>
