<h2 id="selected-awards" style="margin: 2px 0px -15px;">Selected Awards</h2>

<h4 style="margin: 22px 10px 0;">2025</h4>

<ul style="margin: 0 0 5px;">
  <li><a><autocolor>National Scholarship</autocolor></a><strong> <i style="color:#e74d3c">Highest honor for undergraduates</i></strong></li>
  <li><a><autocolor>Outstanding Winner (Top 0.11%) &amp; SIAM Award (Problem B Winner)</autocolor></a><strong> <i style="color:#e74d3c">MCM 2025</i></strong></li>
</ul>

<div style="height: 0.85rem;"></div>
